Now we will read our `cleanedcar.csv` and will made our model

In [1]:
import pandas as pd
df = pd.read_csv('cleaned_car.csv')
df

      company  year   Price  kms_driven fuel_type              model
0     Hyundai  2007   80000       45000    Petrol        Santro Xing
1    Mahindra  2006  425000          40    Diesel         Jeep CL550
2     Hyundai  2014  325000       28000    Petrol          Grand i10
3        Ford  2014  575000       36000    Diesel  EcoSport Titanium
4        Ford  2012  175000       41000    Diesel               Figo
..        ...   ...     ...         ...       ...                ...
811    Maruti  2011  270000       50000    Petrol        Suzuki Ritz
812      Tata  2009  110000       30000    Diesel          Indica V2
813    Toyota  2009  300000      132000    Petrol      Corolla Altis
814      Tata  2018  260000       27000    Diesel            Zest XM
815  Mahindra  2013  390000       40000    Diesel          Quanto C8

[816 rows x 6 columns]

In [4]:
X = df.drop(labels=['Price'],axis=1)

In [5]:
X

      company  year  kms_driven fuel_type              model
0     Hyundai  2007       45000    Petrol        Santro Xing
1    Mahindra  2006          40    Diesel         Jeep CL550
2     Hyundai  2014       28000    Petrol          Grand i10
3        Ford  2014       36000    Diesel  EcoSport Titanium
4        Ford  2012       41000    Diesel               Figo
..        ...   ...         ...       ...                ...
811    Maruti  2011       50000    Petrol        Suzuki Ritz
812      Tata  2009       30000    Diesel          Indica V2
813    Toyota  2009      132000    Petrol      Corolla Altis
814      Tata  2018       27000    Diesel            Zest XM
815  Mahindra  2013       40000    Diesel          Quanto C8

[816 rows x 5 columns]

In [6]:
y = df.Price

In [7]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 816, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_val, train_targets, val_targets = train_test_split(X, y, test_size=0.2, random_state=2)

In [9]:
X_train

       company  year  kms_driven fuel_type            model
589       Tata  2012       75000    Diesel        Sumo Gold
379       Tata  2016      104000    Diesel        Indigo LX
612    Hyundai  2014       57000    Petrol      Santro Xing
744  Chevrolet  2014       31000    Diesel          Beat LS
603     Maruti  2012       48006    Diesel     Suzuki Swift
..         ...   ...         ...       ...              ...
534   Mahindra  2014       45000    Diesel        XUV500 W6
584      Skoda  2006       65000    Diesel  Octavia Classic
493     Maruti  2017       23000    Petrol     Suzuki Wagon
527        BMW  2011       72000    Diesel     X1 xDrive20d
168   Mahindra  2015       97200    Diesel      Scorpio S10

[652 rows x 5 columns]

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([('trf',OneHotEncoder(sparse=False, drop='first'),['company', 'fuel_type', 'model'])], remainder='passthrough')

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline

In [12]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',RandomForestRegressor())
])

In [14]:
pipe.fit(X_train, train_targets)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['company', 'fuel_type',
                                                   'model'])])),
                ('step2', RandomForestRegressor())])

In [15]:
pipe.score(X_train, train_targets)

0.8907350941991242

In [16]:
pred = pipe.predict(X_train)

In [17]:
import pickle
pickle.dump(pipe, open('model.pkl', 'wb'))